<section style="background:#efefe9;">
   <div class="container">
       <div class="board">
           <!-- Navigation Area (Circular Tabs) -->
           <msw-navbar></msw-navbar>
           <!-- End Navigation Area (Circular Tabs) -->
           <!-- Content Area -->
           <div class="tab-content">
               <!-- Nested view  -->
            <div class="personal" [ngClass]="actPersonal ? 'active' : 'disabled22' ">

              <form #personalForm="ngForm" class="editForm" novalidate>
                  <div class="tab-pane fade in active">
                      <h4 class="head text-center">{{title}}</h4>
                      <br/>
                      <div class='row'>
                          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                              <div class="row">
                                  <div class='col-xs-12 col-sm-6'>
                                      <div class="form-group">
                                          <label class="control-label" for="firstname">First Name</label>  
                                          <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname" type="text" placeholder="First Name" [(ngModel)]="personal.firstName">   
                                          <div class="alert alert-danger" [hidden]="firstname.valid">First Name is required</div>
                                      </div>
                                  </div>
                                  <div class='col-xs-12 col-sm-6'>
                                      <div class="form-group">
                                          <label class="control-label" for="lastname">Last Name</label>  
                                          <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname" type="text" placeholder="Last Name" [(ngModel)]="personal.lastName">
                                          <div class="alert alert-danger" [hidden]="lastname.valid">Last Name is required</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="control-label" for="email">Email</label>
                                  <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="personal.email">
                                  <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>
                              </div>
                                  
                              <div class="form-group text-center">
                                  <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="(activarStep(2,personalForm))"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form> 
             
            </div>
           

            <div [ngClass]="actFamiliar ? 'active' : 'disabled22' ">
                    <p>Familiar </p>

                    <button (click)="activarStep(3);" >next</button>
            </div>


            <div class="Educacion" [ngClass]="actEducacion ? 'active' : 'disabled22' ">
                    <p>Educacion </p>
                    <button (click)="activarStep(4)" >next</button>
            </div>



            <div class="ConTec" [ngClass]="actConTec ? 'active' : 'disabled22' ">
                    <p>Con Tec</p>
                    <button (click)="activarStep(5)" >next</button>
            </div>

            <div class="Idioma" [ngClass]="actIdioma ? 'active' : 'disabled22' ">
                    <p>Idiomas</p>
                    <button (click)="activarStep(6)" >next</button>
            </div>

            <div class="ExpLaboral" [ngClass]="actExpLaboral ? 'active' : 'disabled22' ">
                    <p>Experiencia Laboral</p>
                    <button (click)="activarStep(7)" >next</button>
            </div>



           </div>

           <!-- End Content Area -->
       </div>
 
       <!-- For Debugging: show our valid formData -->
       <pre>{{ formData | json }}</pre>
   </div>
 </section>